Repository TencentBlueKing/bkmonitor-datalink, pull requests merged in 2025-02, with the labels that each got.

#681 feat: 日志提供高亮查询 --story=121494468
  pkg/unify-query/curl/curl.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/query/promql/ctx.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/middleware/metadata.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/elasticsearch/instance_test.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/prometheus/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Labels: feat, unify-query, datalink

#690 feat: BMW: ES链路结果表详情路由补充DataLabel信息 --story=121706267
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Labels: feat, datalink, bk-monitor-worker

#697 feat: bklog 查询原始数据支持 datalabel --story=121896746
  pkg/unify-query/query/structured/query_ts.go
Labels: feat, unify-query, datalink

#699 feat: BMW: 结果表详情路由补充二段式方式调整 --story=121928305
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Labels: feat, datalink, bk-monitor-worker

#691 feat: operator 支持 list-watch pods 变更 --story=121701540
  pkg/collector/VERSION
  pkg/collector/example/example.yml
  pkg/collector/example/platform.yml
  pkg/collector/processor/resourcefilter/config.go
  pkg/collector/processor/resourcefilter/doc.go
  pkg/collector/processor/resourcefilter/factory.go
  pkg/collector/processor/resourcefilter/factory_test.go
  pkg/collector/processor/resourcefilter/k8scache/cache.go
  pkg/collector/processor/resourcefilter/k8scache/cache_test.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
  pkg/operator/operator/objectsref/controller.go
  pkg/operator/operator/objectsref/lookup.go
  pkg/operator/operator/objectsref/lookup_test.go
  pkg/operator/operator/objectsref/pod.go
  pkg/operator/operator/objectsref/pod_test.go
  pkg/operator/operator/objectsref/relabels.go
  pkg/operator/operator/objectsref/relabels_test.go
  pkg/operator/operator/objectsref/relation.go
  pkg/operator/operator/objectsref/relation_test.go
  pkg/operator/operator/objectsref/ring/ring.go
  pkg/operator/operator/objectsref/ring/ring_test.go
  pkg/operator/operator/server.go
Labels: feat, datalink

#702 feat: 优化 unifyquery es 查询异常报错内容 --story=122024442
  pkg/unify-query/tsdb/elasticsearch/instance.go
Labels: feat, unify-query, datalink

#704 feat: collector 提供 otlogs 测试程序 --story=122119774
  pkg/collector/example/otlogs/go.mod
  pkg/collector/example/otlogs/go.sum
  pkg/collector/example/otlogs/main.go
Labels: feat, datalink

#703 feat: 完善 operator /check 接口 --story=122076071
  .gitignore
  pkg/operator/README.md
  pkg/operator/operator/scrape.go
Labels: feat, datalink

#700 feat: 采集器 static 任务支持 kernelVersion 字段上报 --story=121931273
  pkg/bkmonitorbeat/tasks/static/utils.go
Labels: feat, datalink

#705 feat: bkmonitorbeat gojson 配置调整 --story=122144431
  pkg/bkmonitorbeat/beater/jsonlib.go
Labels: feat, datalink
