Repository TencentBlueKing/bkmonitor-datalink, pull requests merged in 2025-01, with the labels that each got.

#672 feat: unifyquery 适配查询 es 集群的无损切换 --story=121259459
  pkg/unify-query/influxdb/router_mock.go
  pkg/unify-query/influxdb/spacetsdb_router.go
  pkg/unify-query/influxdb/spacetsdb_router_test.go
  pkg/unify-query/internal/function/samples.go
  pkg/unify-query/internal/function/samples_test.go
  pkg/unify-query/memcache/cache.go
  pkg/unify-query/memcache/ristretto.go
  pkg/unify-query/metadata/featureFlag_test.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/query/interfaces.go
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/query/structured/space.go
  pkg/unify-query/query/structured/space_test.go
  pkg/unify-query/query/structured/utils_test.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/service/influxdb/service.go
  pkg/unify-query/tsdb/bksql/format_test.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/elasticsearch/instance_test.go
  pkg/unify-query/tsdb/prometheus/tsdb_instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
  pkg/utils/router/influxdb/space.go
  pkg/utils/router/influxdb/space_gen.go
Labels: feat, unify-query, datalink

#680 feat: operator /scrape 接口支持 endpoint 参数 --story=121422953
  pkg/operator/operator/helmcharts/objects.go
  pkg/operator/operator/scrape.go
  pkg/operator/operator/server.go
Labels: feat, datalink

#682 feat: transfer kafka backend authinfo 设置修复 --story=121604485
  pkg/transfer/kafka/backend.go
Labels: feat, datalink

#686 feat: BMW: 空间路由任务,空间路由链路结果表过滤支持ES类型 --story=121683817
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Labels: feat, datalink, bk-monitor-worker

#688 feat: BMW: 事件路由支持，非二段式RT补充.__default__ --story=121697318
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Labels: feat, datalink, bk-monitor-worker
