Repository TencentBlueKing/bkmonitor-datalink, pull requests merged in 2025-09, with the labels that each got.

#972 fix: bmw: 结果表信息路由刷新在自定义指标不存在时会忽略所有字段信息 --bug=147584489
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Labels: fix, datalink, bk-monitor-worker

#971 feat: doris 分词字段兼容查询模式 --story=127035327
  pkg/unify-query/metadata/query_reference_test.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/condition_field.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/bksql/sql_expr/base.go
  pkg/unify-query/tsdb/bksql/sql_expr/base_test.go
  pkg/unify-query/tsdb/bksql/sql_expr/doris.go
  pkg/unify-query/tsdb/bksql/sql_expr/doris_test.go
  pkg/unify-query/tsdb/elasticsearch/format.go
Labels: feat, unify-query, datalink

#969 feat: 移除时区对齐逻辑 --story=126945608
  pkg/unify-query/internal/function/function.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/mock/handler.go
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/tsdb/bksql/sql_expr/doris.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
Labels: feat, unify-query, datalink

#982 feat: 修复 dryrun 模式参数丢失问题 --story=127194260
  pkg/unify-query/query/structured/query_ts.go
Labels: feat, unify-query, datalink

#983 feat: 修改 profile 数据源针对 jfr 格式的处理，jfr -> pprof 转义 --story=127225277
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/collector/processor/pproftranslator/jfr/pprof.go
  pkg/collector/processor/pproftranslator/jfr/pprof_test.go
  pkg/collector/processor/pproftranslator/jfr/profile_builder.go
  pkg/collector/processor/pproftranslator/jfr/profile_builder_test.go
  pkg/collector/processor/pproftranslator/jfr/translator.go
  pkg/collector/processor/pproftranslator/jfr/translator_test.go
  pkg/collector/receiver/pyroscope/http.go
Labels: feat, collector, project/apm

#998 feat: 兼容 bkbase mapping 查询接口 --story=127479284
  pkg/unify-query/mock/handler.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/tsdb/elasticsearch/index_format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Labels: feat, unify-query, datalink

#1001 feat: collector 兼容多 rule 匹配规则 --story=127507166
  pkg/collector/example/example.yml
  pkg/collector/example/subconfig.yml
  pkg/collector/exporter/converter/logs.go
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/exporter/converter/traces.go
  pkg/collector/exporter/queue/batch_test.go
  pkg/collector/internal/batchspliter/spliter_test.go
  pkg/collector/internal/foreach/foreach.go
  pkg/collector/internal/foreach/foreach_test.go
  pkg/collector/internal/prettyprint/prettyprint.go
  pkg/collector/processor/apdexcalculator/factory.go
  pkg/collector/processor/apdexcalculator/factory_test.go
  pkg/collector/processor/attributefilter/factory.go
  pkg/collector/processor/attributefilter/factory_test.go
  pkg/collector/processor/dbfilter/factory.go
  pkg/collector/processor/dimension_fetcher_test.go
  pkg/collector/processor/metricsfilter/config.go
  pkg/collector/processor/metricsfilter/config_test.go
  pkg/collector/processor/metricsfilter/factory.go
  pkg/collector/processor/metricsfilter/factory_test.go
  pkg/collector/processor/probefilter/factory.go
  pkg/collector/processor/resourcefilter/factory.go
  pkg/collector/processor/sampler/evaluator/random.go
  pkg/collector/processor/sampler/evaluator/random_test.go
  pkg/collector/processor/sampler/evaluator/statuscode.go
  pkg/collector/processor/servicediscover/factory.go
  pkg/collector/processor/servicediscover/factory_test.go
  pkg/collector/processor/tracesderiver/operator_test.go
  pkg/collector/receiver/skywalking/encoder.go
  pkg/collector/receiver/skywalking/jvm_metrics_test.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Labels: feat, datalink, collector

#1003 feat: collector 优化日志输出 --story=127564751
  pkg/collector/confengine/config.go
  pkg/collector/controller/controller.go
  pkg/collector/exporter/converter/pushgateway.go
  pkg/collector/pipeline/manager.go
  pkg/collector/processor/apdexcalculator/config.go
  pkg/collector/processor/apdexcalculator/factory.go
  pkg/collector/processor/ratelimiter/factory.go
  pkg/collector/processor/sampler/evaluator/statuscode.go
  pkg/collector/processor/servicediscover/config.go
  pkg/collector/processor/servicediscover/factory.go
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/operator.go
Labels: feat, datalink, collector

#1007 feat: promql match 查询条件兼容单引号 --story=127589123
  pkg/unify-query/internal/promql_parser/parser_test.go
  pkg/unify-query/internal/promql_parser/visitor.go
Labels: feat, unify-query, datalink

#1010 feat: collector 指标转换性能优化 --story=127634397
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/exporter/converter/metrics_test.go
  pkg/collector/exporter/converter/remotewrite.go
  pkg/collector/exporter/converter/tars.go
Labels: feat, datalink, collector

#1015 feat: collector labels 计算逻辑优化 --story=127681977
  pkg/collector/VERSION
  pkg/collector/control.sh
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/internal/grpcmiddleware/maxbytes.go
  pkg/collector/internal/grpcmiddleware/middleware.go
  pkg/collector/internal/httpmiddleware/maxbytes.go
  pkg/collector/internal/httpmiddleware/maxconns.go
  pkg/collector/internal/httpmiddleware/middleware.go
  pkg/collector/internal/labels/labels.go
  pkg/collector/internal/labels/labels_test.go
  pkg/collector/internal/optmap/optmap.go
  pkg/collector/internal/optmap/optmap_test.go
  pkg/collector/internal/utils/map.go
  pkg/collector/internal/utils/map_test.go
  pkg/collector/processor/pproftranslator/models/labels.go
  pkg/collector/processor/pproftranslator/models/labels_cache.go
  pkg/collector/processor/pproftranslator/models/labels_test.go
Labels: feat, datalink, collector

#1017 feat: collector pushgateway 指标转换性能优化 --story=127684136
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/exporter/converter/pushgateway.go
  pkg/collector/exporter/converter/tars.go
  pkg/collector/exporter/converter/tars_test.go
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/collector/internal/labels/labels.go
  pkg/collector/internal/labels/labels_gen.go
  pkg/collector/internal/labels/labels_gen_test.go
  pkg/collector/internal/utils/map.go
  pkg/collector/internal/utils/map_test.go
  pkg/collector/pipeline/manager.go
Labels: feat, datalink, collector

#1014 feat: 空间路由支持业务查询关联bkci项目Doris结果表 --story=127676896
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Labels: feat, datalink, bk-monitor-worker

#1025 feat: Taf 监控指标支持按服务配置原始数据丢弃 --story=127769888
  pkg/collector/example/example.yml
  pkg/collector/exporter/converter/config.go
  pkg/collector/exporter/converter/tars.go
  pkg/collector/exporter/converter/tars_test.go
Labels: feat
